import React from 'react'
import createComponent from '@/tools/components/createComponent';
import './{{pascalCase name}}.css'

// import { useDispatch } from 'react-redux'
// import { actions } from '@/redux/slices'
// import { useXXYY } from '@/redux/selectors/{{camelCase sliceName}}.js'
// import { getOnClick } from '@/tools/components/helper';

export default createComponent(() => {
    // const dispatch = useDispatch()

    // const xxyy = useXXYY()

    // const onAction = () => dispatch(actions.{{camelCase sliceName}}.doSomething({...}))
    // const onClick = getOnClick(dispatch, actions.{{camelCase sliceName}}.doSomething)

    return (
        <div className='{{pascalCase name}}'>
        </div>
    )
})
